.navbar {
	background-image: linear-gradient(to bottom, #05212C 0%, #222 100%);
	border: 1px solid #080808;
	width: 100%;
	position: fixed;
	height: 50px;
	bottom: 0;
}

.navbar-right {
    font-size: 14px;
    img {
        margin: 0 0 3px 5px;
    }
}

.navbar-inverse .navbar-toggle {
    border: none;

    &:hover, &:focus {
        background-color: initial;
    }
}