@import "../mixins";

.navbar {
	@include flex-align-no-justify;
	background-image: linear-gradient(to bottom, #05212C 0%, #222 100%);
	border: 1px solid #080808;
	width: 100%;
	position: fixed;
	height: 50px;
	bottom: 0;
	padding: 0 15px;
	justify-content: space-between;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	.left, .right {
		@include flex-align-no-justify;
	}

	.logo {
		a {
			font-size: 18px;	
		}
	}

	a {
		@include animation-transition(0.2s);
		color: #999;
		font-size: 13px;
		cursor: pointer;

		&:hover {
			color: white;
		}
	}

	span:not(:last-child) {
		margin-right: 20px;
	}
}

.navbar-right {
    font-size: 14px;
    img {
        margin: 0 0 3px 5px;
    }
}

.navbar-inverse .navbar-toggle {
    border: none;

    &:hover, &:focus {
        background-color: initial;
    }
}