@import "../mixins";
@import "../fonts";
@import "../colours";

.navbar {
	@include flex-align-no-justify;
	font-family: arial;
	background-image: linear-gradient(to bottom, #05212C 0%, #222 100%);
	border: 1px solid #080808;
	width: 100%;
	position: fixed;
	height: 50px;
	bottom: 0;
	padding: 0 15px;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.left, .right {
		@include flex-align-no-justify;
	}
	a, .soundControl {
		@include animation-transition(0.2s);
		color: #999;
		font-size: 13px;
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
	.soundCloudLogo {
		margin-bottom: -2px;
	}
	.navbarDesktop {
		display: flex;
		justify-content: space-between;
		width: 100%;
		span:not(:last-child) {
			margin-right: 40px;
		}
		.logo {
			a {
				font-size: 18px;
				position: relative;
				.logoElement {
					display: inline-block;
					&.logoVersion {
						font-family: "RockSalt";
						font-size: 26px;
						position: absolute;
						top: -25px;
						right: -24px;
						color: $primary-brown;
					}	
				}
			}
		}	
	}
	.navbarMobile {
		display: none;
		margin: 20px 10px;
		width: 100%;
		li {
			list-style-type: none;
			padding: 2px 0;
		}
		.navbarMobileContent {
			@include flex-align-no-justify;
		}
		.navbarMobileToggle {
			position: relative;
			cursor: pointer;
			.hamburgerIcon {
				.hamburgerBar {
					width: 20px;
					height: 2px;
					background-color: white;
					&:not(:last-child) {
						margin-bottom: 2px;
					}
				}
			}
		}
		.navbarMobileLinks {
			display: none;
			text-align: right;
			margin-bottom: 10px;
			.navbarMobileLine {
				height: 2px;
				margin-top: 5px;
				border-top: 1px solid transparent;
				box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
			}
		}
		.logo {
			font-size: 18px;
			width: 100%;
		}
	}
}

@media all and (max-width: 50em) {
	.navbar {
		height: auto;
		.navbarDesktop {
			display: none;
		}
		.navbarMobile {
			display: block;
		}
	}
}