@import "../mixins";

.playlistTableContiner {
	height: 50%;
	overflow: auto;
	
	.playlistTable {
		width: 100%;

		tr {
			td {
				cursor: pointer;

				&.delete {
					text-align: center;
				}

				&.isPlaying {
					background-color: #5b90a7;
				}
			}
		}
	}
}

.playlistControls {
	width: 50%;
	margin: 10px auto;
	font-family: arial;
	position: relative;
	
	.songSearchForm {
		position: relative;

		input {
			width: 100%;
		}
	}

	.songSearchResults {
		width: 100%;
		position: absolute;

		.result {
			@include animation-transition(0.2s);
			padding: 5px;
			background-color: white;
			cursor: pointer;

			&:hover {
				background-color: silver;
			}

			.resultImage {
				width: 20px;
				height: 20px;
				float: left;

				img {
					width: 100%;
				}
			}
		}
	}
}