@import "../mixins";

.playlistTable {
	width: 100%;

	tr {
		td {
			cursor: pointer;

			&.delete {
				text-align: center;
			}
		}
	}
}

.playlistControls {
	width: 50%;
	margin: 10px auto;
	font-family: arial;
	position: relative;
	
	.songSearchForm {
		position: relative;

		input {
			width: 100%;
		}
	}

	.songSearchResults {
		width: 100%;
		position: absolute;

		.result {
			@include animation-transition(0.2s);
			padding: 5px;
			background-color: white;
			cursor: pointer;

			&:hover {
				background-color: silver;
			}

			.resultImage {
				width: 20px;
				height: 20px;
				float: left;

				img {
					width: 100%;
				}
			}
		}
	}
}

.syncSoundCloud {
	cursor: pointer;
}